[user]
	email = krishnaraj.kpt@outlook.com
	name = KrishnarajT
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
