[user]
	email = krishnaraj.kpt@outlook.com
	name = Krishnaraj Thadesar
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = *
[http]
	version = HTTP/2
	postBuffer = 157286400
[init]
	defaultBranch = master
[core]
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
